@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&displayer=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black1: #333;
    --black2: #333;
    --white1: #fff;
    --white2: #fff;
    --gold1 :gold;
    --gold2:goldenrod;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, var(--black1));
    background: var(--white1);
    display: flex;
    
    align-items: center;
    overflow: hidden;
    transition: width 0.5s;
    
}



.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    background-color: var(--white1);
    min-height: 100vh;
    transition: width 0.5s left 0.5s;
}
.main.active{
    width: calc(100% - 0px);
    left: 0px;  
}

.main .topbar {
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
    left: 300px;
    background-color: var(--white2);
    border-bottom: 1px solid rgba(0, 0, 0, var(--black1));
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    transition: width 0.5s left 0.5s;
}
.main .topbar.active{
    width: calc(100% - 0px);
    left: 0px;  
}

.main .topbar .logo {
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
    font: size 1.4em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main .topbar .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: (var(--black1));
}
section{
   position: relative;
   min-height: 100vh; 
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.home .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home .imagebox{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}
.home .imagebox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h3{
    position: relative;
    font-size: 1.4rem;
    color: var(--black1);
    letter-spacing: 2px;
}
p{
    color: #777;
}
.btn{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: var(--black2);
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    text-decoration: none;
}
.socialMedia{
    position: relative;
    margin-top: 10px;
    display: flex;
}
.socialMedia li{
    list-style: none;
}
.socialMedia li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, var(--black1));
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black1);
    font-size: 1.2rem;
}
.socialMedia li a:hover{
    background: var(--black2);
    color: #fff;
}
.adjust{
    position: relative;
    min-height:100vh;
    padding: 0 40px;
    padding-top: 80px;
    background: var(--white1);
}
.title{
    width: 100%;
    text-align: center;
}
.title h2{
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin-bottom: 30px;
}
.title h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -10px;
    width: 50px;
    height: 1px;
    background: var(--black1);
}
.about .content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.about .content .textbox{
    width: 49%;
    min-width: 49%;
}

.imageicon{
    width: 60px;
    height: 60px;
}
#button{
    margin-top: 20px;
    left: 35%
}
.about .content .imageBox{
    margin-left: 40px;
}
.about .content .imageBox img{
    max-width: 100%;
}

.timeline-section{
	position: relative;
    min-height:100vh;
    padding: 0 20px;
    padding-top: 80px;
    background: var(--white1);
}
.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: var(--gold2);
	left: calc(50% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: var(--gold1);
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}
.timeline-date{
	font-size: 18px;
	color: var(--gold2);
	margin:6px 0 15px;
}
.timeline-content{
    background-color: var(--white1);
	padding: 30px;
	border-radius: 5px;
    border: var(--gold1) solid ;
}
.timeline-content h3{
    font-size: 20px;
	color: var(--black1);
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: var(--black1);
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

@media (max-width: 1000px){
    
    .skillcontainer{
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 50px;
 }
}
 @media screen and (max-width: 600px){
    .skillcontainer{
    grid-template-columns: 1fr;
 }
 .timeline-items::before{
    left: 7px;
}
.timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
}
.timeline-item:nth-child(odd),
.timeline-item:nth-child(even){
    padding-left: 37px;
}
.timeline-dot{
    left:0;
}
 }